* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background: #A7D2CB;
  }
  main {
    padding: 0 0 53px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .logo-desktop{
    width: 400px;
    margin-top: 15rem;
    margin-left: 0;
    position: fixed;
  }
  .ilustracao-desktop{
    margin-right: 20px;
  }
  .nome-loja{
    background: #F8EEE7;
    color: #565656;
    width: 250px;
    height: 100px;
    border: 10px solid #F8EEE7;
    text-align: center;
    margin-top: 36.5rem;
    margin-left: 170px;
   z-index: 9999;
  }
  .aventuras{
    font-size: 30px;
  }
  .literarias{
    font-size: 55px;
  }
  .tela-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 20px;
  }
  form {
   color: #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 27px;
  background-color: #C98474;
  border-radius: 20px;
  border: 10px solid #C98474;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 10rem;
  gap: 5px;
  }
  .campos-numero-cartao, .campo-nome-usuario{
    background: #F2D388;
    border-radius: 10px;
    border: 10px solid #F2D388;
    width: 300px;
  }
  .mes-vencimento{
    border-radius: 10px;
    border: 10px solid #F2D388;
    background: #F2D388;
  }
  .ano-vencimento{
    background: #F2D388;
    border-radius: 10px;
    border: 10px solid #F2D388;
    display: inline-block;
    width: 40px;
    margin-left: 5px;
  }
  .cvv-cartao{
    width: 40px;
    background: #F2D388;
    border-radius: 10px;
    border: 10px solid #F2D388;
  }
  .formato-cartão{
    padding: 25px 27px;
    background: aliceblue;
    width: 300px;
    height: 100px;
    margin-top: -15rem;
    display: grid;
    margin-left: 445px;
    border: 10px solid aliceblue;
    border-radius: 20px;
    color:#C98474;
    font-weight: bold;
  }
  p,.formato-cartão{
    top:3px;
  }
  .img-chip{
    width: 50px;
    position: fixed;
  }
  .div-cartao-impresso{
    margin-top: 20px;
    display: flex;
  }
  .num-cartao-impresso{
    margin-left: 70px;
  }
  .div-validade-impressa{
    display: inline-flex;
    margin-right: 4px;
   
  }
  button{
    background: #F8EEE7;
    border: 5px solid #F8EEE7;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin-top:5px;
    text-transform: uppercase;
    color: #C98474;
    font-weight: bold;
    align-items: center;
  }